@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body{
  background-image: url("http://makostudio.pl/images/bigstock-Wrinkled-Paper-Background-42306943-e1390844955820.jpg");
}

svg{
  cursor:pointer;
}

h1, h2{
  font-family: Ravi Prakash;
}

h1{
  color:#0F52BA;
}

#turn{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color:#228B22;
}
